body{
 text-align:center; 
 }

#text{
 font:bold 30px Century Gothic;
}
#top
{
    margin: 1px auto;
    float:left;
    margin: 20px;
 width : 200px;
 background:#ff6633;
 -webkit-border-radius:25px;
}
#box2
{	text-align:left;
    height:300px;
	margin: 20px auto;
    float:right;
    margin: 20px;
 width : 200px;
 background:#ff6633;
 -webkit-border-radius:25px;
}
#top li{
     
   text-align:left;
    list-style:none;
	padding:20px;
	font:bold 20px Tahoma;
	}

       #box1{
           
     float: left;
 display: block;
 width:800px;
 height:300px;
 margin:1px auto;
 padding:20px;
 text-align:center;


 -webkit-border-radius:25px;
  
 }
 #b{
     width:80%;
     border:5px solid black;
	 }
	 #c
	 {
	 text-align:left;
	 }
 /* 
    Document   : a
    Created on : 7 Apr, 2013, 2:29:40 PM
    Author     : TALIB
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  
    display: block;
}

